<nav id="nav">
    <ul class="links">
        {{#foreach navigation}}
        <li class="nav-{{slug}} {{#if current}}active{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    <ul class="icons">
        <li><a href="https://www.linkedin.com/in/evanwon" class="icon fab fa-linkedin" title="Evan Wondrasek on LinkedIn"><span class="label">Linkdin</span></a></li>
        <li><a href="https://www.instagram.com/evanwon/" class="icon fab fa-instagram" title="Evan Wondrasek's photography on Instagram"><span class="label">Instagram</span></a></li>
        <li><a href="https://www.goodreads.com/evan_w" class="icon fab fa-goodreads" title="Evan Wondrasek's reading lists on Goodreads"><span class="label">Goodreads</span></a></li>
        <li><a href="mailto:evan@evanw.com" class="icon far fa-envelope" title="Send an email to Evan Wondrasek"><span class="label">Email</span></a></li>
        <!-- <li><a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" class="icon fas fa-rss" target="_blank" rel="noopener"><span class="label" title="RSS">RSS</span></a></li> -->
    </ul>
</nav>
